
<style>
  .section__row {
    display: flex;
    justify-content: center;
  }
  .blog_post_hero {
    overflow: hidden;
    position: relative;
    height: 650px;
    display: flex;
    justify-content: center;
  }
  .blog_hero_overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000), url({{ blog_post.image_url }});
    background-position: center;
    background-size: cover;
    transition: filter 200ms ease;
    display: flex;
    overflow: hidden;
    filter: blur(5px);
    transform: scale(1.1);
    -webkit-filter: blur(5px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .blog_hero_content {
    z-index: 2;
    display: flex;
    justify-content: center;
    min-width: 50%;
    padding-top: 100px;
  }
  .hero_blog__tags {
    margin-right: 1rem;
    font-size: 14px;
    text-transform: capitalize;
    margin: 20px;
    background: #eee;
    padding: 10px;
    border-radius: 30px;
    }
</style>
<div class="blog_post_hero">
  <div class="blog_hero_overlay">
    </div>
</div>
<div id="" class="section section--global">
  <div class="container">
    <div class="row section__row">
      <div class="section__body col-md-8">
        {% section "blog_post_body" %}
      </div>
    </div>
  </div>
</div>
