<!-- {% section "hero_blog" %} -->

<style>
  .section__row {
    display: flex;
    justify-content: center;
  }
</style>

<div id="" class="section section--global">
  <div class="container">
    <div class="row section__row">
      <div class="section__body col-md-8">
        {% section "blog_post_body" %}
      </div>
    </div>
  </div>
</div>
