<div id="" class="section section--global section--sales_page">
  <div class="container">
    <div class="row section__row">
      <div class="section__body col-lg-8">
        {% section "sales_page_body" %}
      </div>
      {% section "sales_page_sidebar" %}
    </div>
  </div>
</div>
